@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div>
        <h1 class="display-1">Pharmacie Rasalama</h1>
        <h2 class="display-5">Marary aiza ianao</h2>
    </div>
    <div class="col">
        <form method="post" asp-page-handler="Traitement">
        @if (Model.listSymptoms != null)
        {
            @foreach (var symptom in Model.listSymptoms)
            {
                <div>
                    <label >@symptom.Name</label>
                    <br>
                    <input type="range" name="severity" id="severity" min="0" max="10" value="0" class="form-control-range" required />
                    <input type="hidden" name="symptom" value="@symptom.Name" />
                    <input type="hidden" name="symptomId" value="@symptom.Id" />
                </div>
            }
        }
        <input type="submit" value="submit" />
        </form>
    </div>

</div>
